@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

.hamburger, .ham-menu {
  display: none;
}

@media (max-width: 800px) {
  .hamburger {
      display: block;
  }

  .ham-menu {
    display: flex;
  }

  .main-nav {
    display: none;
  }
}

.ham-menu {
  animation: slideHam 300ms alternate ease-in-out;
}

@keyframes slideHam {
  0% {
    left: -300px;
  }
  100% {
    left: 0;
  }
}